name: Hello World Workflow

on:
  workflow_dispatch:

jobs:
  hello-zhan-job:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/hello-zhan
      
  generate-number:
    runs-on: ubuntu-latest
    outputs:
      rnd_num: ${{ steps.gen.outputs.RND_NUM }}
    steps:
      - uses: actions/checkout@v4
      - id: gen
        uses: ./.github/actions/random-number

  hello-world:
    needs: generate-number
    runs-on: ubuntu-latest
    steps:
      - name: Print Hello World
        run: echo "Hello World, random number is ${{ needs.generate-number.outputs.rnd_num }}"
      - name: Save random number to file
        run: echo "${{ needs.generate-number.outputs.rnd_num }}" > rnd_num.txt
